:root {
    font-size: 62.5%;

    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: flex;
    align-items: center;    
    justify-content: center;
    margin: auto;
    max-width: 144rem;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* --- */

/* photo */

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin: 0 0 3rem 0;
    gap: 1.5rem;
} 

.photo picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.3rem;
    height: 21.3rem;
    border-radius: 20rem;
    border: 0.2rem solid var(--purple);
}

.photo picture img{
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
}

/* text */

.photo a{
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--purple);
}

.photo a:hover{
    filter: brightness(0.8);
}

/* --- */

/* links */

main{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.links{
    margin: 0 0 8.6rem 0;
}

.links ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.links ul li a{
    width: 32.6rem;
    height: 4.9rem;
    border: 0.2rem solid var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.4rem;
}

.links ul li a:hover{
    filter: brightness(0.8);
}

/* --- */

/* social media */

footer ul{
    display: flex;
    gap: 2.9rem;
}

footer li, footer picture, footer a{
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
}

footer a:hover{
    filter: brightness(0.8);
}